<h1> <%= @todo.title %> </h1>

<p> <%= @todo.description%> </p>
<p> Date limite : <%= @todo.date%> </p>

<p> <a href="<%= todos_path %>" class="btn btn-primary"> Revenir à la liste des todos </a>  </p>